---
import Layout from "../layouts/Layout.astro";

import ProfileCard from "../components/ProfileCard.astro";
import Carrousel from "../components/Carrousel.astro";

---

<Layout title="AlejandroAC">
	<main>

		<ProfileCard />
		<h1 id="sobremi">Sobre mí</h1>
		<p>
			Soy un programador junior apasionado por el desarrollo de software y
			con una sólida base en lenguajes de programación como Java, Python y
			JavaScript. Cuento con experiencia en la creación de aplicaciones
			web y de escritorio, así como en la resolución de problemas
			técnicos. Mi formación me ha proporcionado un fuerte entendimiento
			de los principios de la programación y las mejores prácticas de
			desarrollo.
		</p>

		<p>
			Durante mis estudios, he trabajado en diversos proyectos que me han
			permitido mejorar mis habilidades en el diseño y la implementación
			de soluciones eficientes y escalables. Tengo una actitud proactiva y
			disfruto colaborando en equipo para alcanzar los objetivos del
			proyecto. Estoy constantemente buscando oportunidades para aprender
			y crecer profesionalmente, y estoy comprometido con la mejora
			continua y la adopción de nuevas tecnologías y metodologías de
			desarrollo.
		</p>

		<p>
			Busco un entorno de trabajo dinámico y desafiante donde pueda
			contribuir con mis conocimientos y aprender de programadores
			experimentados para seguir desarrollándome en el campo del
			desarrollo de software.
		</p>


		<h1 id="proyectos">Proyectos</h1>

		<Carrousel />

		<h1 id="estudios">Estudios</h1>
		
		<h1 id="cv">CV</h1> 
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 10rem;
		padding: 1rem;
		width: 80%;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	
#sobremi, #proyectos, #estudios, #cv{
	color: #4D869C;
}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
</style>
