---
import logo from '../../public/logo-black.png';
import Linkedin from "../../public/linkedin.png";
import GitHUb from "../../public/github.png";
import Correo from "../../public/correo.png";
---

<header role="banner" aria-label="Cabecera de sitio">
    <div class="first-part">
        <div><img src={logo.src} alt="imagen" /></div>
        <h1>AlejandroAC</h1>
        <div class="rrss">
            <a href="https://www.linkedin.com/in/alejandro-alba-castillo-69583b186/" target="_blank" rel="noreferrer"><img src={Linkedin.src} alt=""></a>
            <a href="https://github.com/AlejandroAlbaCastillo" target="_blank" rel="noreferrer"><img src={GitHUb.src}alt=""></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDbFRWFQCdTCBZLpMCRRcmhRTKBmHvnxxTLQtLmrhBnBXQhgnGnWWPDCsBXxVVvdHDFjhxC" target="_blank" rel="noreferrer"><img src={Correo.src} alt=""></a>
        </div>
    </div>
    <nav class="navegator">
        <ul>
            <li><a href="#sobremi">Sobre mi</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#estudios">Estudios</a></li>
            <li><a href="#cv">CV</a></li>
        </ul>
    </nav>
</header>

<style>
    header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        z-index: 5;
    }
    .rrss{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

    }
    .first-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #CDE8E5;
        margin-bottom: 0 ;
        padding-inline: 3rem;
    }
    .first-part *{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    @media (max-width: 600px){
        .first-part {
        display: flex;
        flex-direction: column;
        background-color: #CDE8E5;
        padding: 0;
        justify-content: center;
    }
    }
    .first-part div img{ 
        width:100px;
    }
    .first-part div a img{ 
        width:2rem;
    }
    .navegator{
        background-color: #7AB2B2;
        margin-top: 0;
       
    }
    .navegator ul{
        display:flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .navegator ul li{
        list-style: none;
        border-left: black 2px solid;
        padding-inline: 10px;
    }
    .navegator ul li:last-child{
        border-right: black 2px solid;
    }
    .navegator ul li a{
        text-decoration: none;
        color: black;
    }
    .navegator ul li:hover{
        cursor: pointer;
        text-decoration: underline;
    }

</style>
<script></script>
